body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
#container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#display {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    background-color: #dad5d5;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    padding: 0 10px;
    flex: 1 1 auto;
    min-width: 0;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
        
}
.ce {
    width: 150px;
    background-color: orange;
    font-weight: 700;
}
.c {
    background-color: yellow;
    font-weight: 700;
}